.content h1 {
    font-size: 28px !important;
    font-weight: 700 !important;
}

.content h2 {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.content ul {
    list-style-type: disc !important;
    padding-left: 20px !important;
    margin-bottom: 16px !important;
}
.content li {
    font-size: 16px !important;
    line-height: 1.5 !important;
}